<!-- Breadcrumb -->
<ol class="breadcrumb hidden-xs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
</ol>
<h4 class="page-title b-0">
    {if condition="$info eq ''"}添加管理员{else/}修改管理员信息{/if}
</h4>
<div class="listview list-container">
    <header class="listview-header media">
        <ul class="list-inline list-mass-actions pull-left">
            <li>
                <a data-toggle="modal" href="javascript:;" onclick="window.history.back();" title="返回" class="tooltips">
                    <i class="sa-list-back"></i>
                </a>
            </li>
        </ul>
    </header>
</div>
<section id="login">
    <!-- Register -->
    {if condition="$info eq ''"}
    <form class="box animated tile active"  action="{:url('index/admin/admin/addAdmin')}" method="POST">
        <h2 class="m-t-0 m-b-15"></h2>
        <input type="text" class="login-control m-b-10" placeholder="请输入用户名" name="user">
        <input type="password" class="login-control m-b-10" placeholder="请输入密码" name="pass">
        <input type="password" class="login-control m-b-20" placeholder="重复输入密码" name="re_pass">
        <button class="btn btn-sm m-r-5">Save</button>
    </form>
    {else/}
    <form class="box animated tile active form-validation-9" action="{:url('index/admin/admin/editAdmin')}" method="POST">
        <h2 class="m-t-0 m-b-15"></h2>
        <input type="text" class="login-control m-b-10 form-control" value="{$info.user}" disabled>
        <input type="hidden" value="{$info.id}" name="id">
        <input type="password" class="login-control m-b-10" placeholder="请输入密码" name="pass">
        <input type="password" class="login-control m-b-10" placeholder="重复输入密码" name="re_pass">
        <input type="text" class="login-control m-b-10" placeholder="请输入邮箱" name="email" value="{$info.email}">
        <input type="text" class="login-control m-b-10" placeholder="请输入手机号" name="mobile" value="{$info.mobile}">
        <select name="sex" class="form-control input-sm validate[required] m-b-20" style="width: 150px;;">
            <option value="">性别</option>
            <option value="1">男</option>
            <option value="2">女</option>
            <option value="3">保密</option>
        </select>

        <div class="clearfix"></div>
        <button class="btn btn-sm m-r-5">Save</button>
    </form>
    {/if}
</section>

<!-- Javascript Libraries -->
<!-- jQuery -->
<script src="__PUBLIC__/js/jquery.min.js"></script> <!-- jQuery Library -->

<!-- Bootstrap -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script>

<!--  Form Related -->
<script src="__PUBLIC__/js/icheck.js"></script> <!-- Custom Checkbox + Radio -->

<!-- All JS functions -->
<script src="__PUBLIC__/js/functions.js"></script>
</body>
</html>
