<!-- Breadcrumb -->
<ol class="breadcrumb hidden-xs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
</ol>
<h4 class="page-title b-0">
    添加管理员
</h4>
<div class="listview list-container">
    <header class="listview-header media">
        <ul class="list-inline list-mass-actions pull-left">
            <li>
                <a data-toggle="modal" href="javascript:;" onclick="window.history.back();" title="返回" class="tooltips">
                    <i class="sa-list-back"></i>
                </a>
            </li>
        </ul>
    </header>
</div>
<section id="login">
    <!-- Register -->
    <form class="box animated tile active"  action="{:url('index/admin/admin/addAdmin')}" method="POST">
        <h2 class="m-t-0 m-b-15"></h2>
        <input type="text" class="login-control m-b-10" placeholder="请输入用户名" name="user">
        <input type="password" class="login-control m-b-10" placeholder="请输入密码" name="pass">
        <input type="password" class="login-control m-b-20" placeholder="重复输入密码" name="re_pass">
        <button class="btn btn-sm m-r-5">Save</button>
    </form>
</section>

<!-- Javascript Libraries -->
<!-- jQuery -->

<!-- Bootstrap -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script>

<!--  Form Related -->
<script src="__PUBLIC__/js/icheck.js"></script> <!-- Custom Checkbox + Radio -->

<!-- All JS functions -->
<script src="__PUBLIC__/js/functions.js"></script>
</body>
</html>
