<!-- Breadcrumb -->
        <ol class="breadcrumb hidden-xs">
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
        </ol>

        <h4 class="page-title b-0">管理员列表</h4>

        <div class="listview list-container">
            <header class="listview-header media">
                <input type="checkbox" class="pull-left list-parent-check" value="">
                <ul class="list-inline list-mass-actions pull-left">
                    <li>
                        <a data-toggle="modal" href="{:url('admin/admin/addAdmin')}" title="Add" class="tooltips">
                            <i class="sa-list-add"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" title="Order By" class="tooltips">
                            <i class="sa-list-refresh"></i>
                        </a>
                    </li>
                    <li class="show-on" style="display: none;">
                        <a href="" title="Delete" class="tooltips">
                            <i class="sa-list-delete"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </header>
            {foreach name="list" item="vo"}
            <div class="media">
                <input type="checkbox" class="pull-left list-check" value="">
                <img class="media-object pull-left" src="__PUBLIC__/img/profile-pics/{:rand(1,6)}.jpg" alt="" width="45">
                <div class="media-body">
                    <small>{$vo.user}</small><br>
                    <div class="block attrs">
                        Id: {$vo.id}
                    </div>
                    <div class="block attrs">
                        Status: {eq name="$vo.status" value="1"}Yes{else/}No{/eq}
                    </div>
                    <div class="block attrs">
                        Date Created: {$vo.create_time|date="Y/m/d",###}
                    </div>
                </div>
                <div class="list-options">
                    <button class="btn btn-sm"><a href="{:url('admin/Admin/adminInfo','id='.$vo.id)}">View</a></button>
                    <button class="btn btn-sm"><a href="{:url('admin/Admin/editAdmin','id='.$vo.id)}">Edit</a></button>
                    <button class="btn btn-sm"><a href="{:url('admin/Admin/delAdmin','id='.$vo.id)}">Delete</a></button>
                </div>
            </div>
            {/foreach}
            <div class="media text-center">

                <ul class="pagination">
                    {$list->render()}
                </ul>
            </div>
        </div>

    </section>
</section>

<!-- Javascript Libraries -->
<!-- jQuery -->
<script src="__PUBLIC__/js/jquery.min.js"></script> <!-- jQuery Library -->

<!-- Bootstrap -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script>

<!--  Form Related -->
<script src="__PUBLIC__/js/icheck.js"></script> <!-- Custom Checkbox + Radio -->

<!-- UX -->
<script src="__PUBLIC__/js/scroll.min.js"></script> <!-- Custom Scrollbar -->

<!-- Other -->
<script src="__PUBLIC__/js/calendar.min.js"></script> <!-- Calendar -->
<script src="__PUBLIC__/js/feeds.min.js"></script> <!-- News Feeds -->


<!-- All JS functions -->
<script src="__PUBLIC__/js/functions.js"></script>
</body>
</html>