
<!-- Content -->
<section class="container">
    <!-- Breadcrumb -->
    <ol class="breadcrumb hidden-xs">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Library</a></li>
        <li class="active">Data</li>
    </ol>
    {if condition="empty($menu_id)"}
    <h4 class="page-title">菜单管理</h4>
    {else /}
    <h4 class="page-title">二级菜单</h4>
    {/if}
    <!-- Table Hover -->
    <header class="listview-header media">
        <ul class="list-inline list-mass-actions pull-left">
            {if condition="empty($menu_id)"}
            <li>
                <a data-toggle="modal" href="{:url('admin/Menu/menuAdd')}" title="添加菜单" class="tooltips">
                    <i class="sa-list-add"></i>
                </a>
            </li>
            {else /}
            <li>
                <a data-toggle="modal" href="{:url('admin/Menu/index')}" onclick="window.history.back();" title="返回" class="tooltips">
                    <i class="sa-list-back"></i>
                </a>
            </li>
            {/if}
        </ul>
    </header>
    <div class="block-area" id="tableHover">
        <div class="table-responsive overflow">
            <table class="table table-bordered table-hover tile">
                <thead>
                <tr>
                    <th>NO.</th>
                    <th>ID</th>
                    <th>序号</th>
                    <th>菜单名称</th>
                    <th>上级菜单</th>
                    <th>子菜单数</th>
                    <th>创建时间</th>
                    <th>菜单操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="menu" id="vo" key="k"}
                <tr>
                    <td>{$k}</td>
                    <td>{$vo['menu_id']}</td>
                    <td>{$vo['sort']}</td>
                    <td><a href="{:url($vo['url_m'].'/'.$vo['url_c'].'/'.$vo['url_f'])}">{$vo['menu_title']}</a></td>
                    <td>{$vo['parent_menu']}</td>
                    <td>{$vo['child_len']}</td>
                    <td>{$vo['create_time']|date="Y-m-d H:i:s",###}</td>
                    <td>
                        <a class="icon" href="{:url('admin/Menu/menuEdit','menu_id='.$vo['menu_id'])}" title="编辑" style="font-size: 16px;">&#61952;</a>&nbsp;&nbsp;
                        <a class="icon" href="{:url('admin/Menu/delMenu','menu_id='.$vo['menu_id'])}" title="删除"
                           style="font-size: 16px;">&#61918;</a>&nbsp;&nbsp;
                        {if condition="$vo['child_len'] != 0"}
                            <a class="icon" href="{:url('admin/Menu/index','menu_id='.$vo['menu_id'])}" title="查看子菜单"
                               style="font-size: 16px;">&#61788;</a>&nbsp;&nbsp;
                        {/if}
                        {if condition="$vo['parent_id'] == 0"}
                        <a class="icon" href="{:url('admin/Menu/menuAdd','menu_id='.$vo['menu_id'])}" title="添加子菜单" style="font-size: 16px;">&#61943;</a>&nbsp;&nbsp;
                        {/if}
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
    </div>
    <div class="listview">
        <div class="media text-center">

            <ul class="pagination">

            </ul>
        </div>
    </div>

</section>
<br/><br/>
</section>

<!-- Javascript Libraries -->
<!-- jQuery -->


<!-- Bootstrap -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script>

<!-- UX -->
<script src="__PUBLIC__/js/scroll.min.js"></script> <!-- Custom Scrollbar -->

<!-- Other -->
<script src="__PUBLIC__/js/calendar.min.js"></script> <!-- Calendar -->
<script src="__PUBLIC__/js/feeds.min.js"></script> <!-- News Feeds -->


<!-- All JS functions -->
<script src="__PUBLIC__/js/functions.js"></script>
<script>
    $(function(){
        $("#delMenu").on("click",function(){
            var quitMsg = confirm("您确定要退出吗！");
            if(quitMsg == true)
            {
                location.href = "{:url('index/admin/Login/loginQuit')}";
            }
        })
    })
</script>
</body>
</html>

