
<!-- Content -->
<section class="container">
    <!-- Breadcrumb -->
    <ol class="breadcrumb hidden-xs">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Library</a></li>
        <li class="active">Data</li>
    </ol>
    <h4 class="page-title">菜单管理</h4>
    <!-- Table Hover -->
    <header class="listview-header media">
        <ul class="list-inline list-mass-actions pull-left">
            <li>
                <a data-toggle="modal" href="{:url('admin/Menu/menuAdd')}" title="添加菜单" class="tooltips">
                    <i class="sa-list-add"></i>
                </a>
            </li>
        </ul>
    </header>
    <div class="block-area" id="tableHover">
        <div class="table-responsive overflow">
            <table class="table table-bordered table-hover tile">
                <thead>
                <tr>
                    <th>NO.</th>
                    <th>ID</th>
                    <th>菜单名称</th>
                    <th>上级菜单</th>
                    <th>子菜单数</th>
                    <th>菜单操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>111</td>
                    <td>222</td>
                    <td>333</td>
                    <td>444</td>
                    <td>555</td>
                    <td>
                        <a class="icon" href="javascript:;" title="编辑" style="font-size: 16px;">&#61952;</a>&nbsp;&nbsp;
                        <a class="icon" href="javascript:;" title="删除" style="font-size: 16px;">&#61918;</a>&nbsp;&nbsp;
                        <a class="icon" href="javascript:;" title="查看子菜单" style="font-size: 16px;">&#61788;</a>&nbsp;&nbsp;
                        <a class="icon" href="javascript:;" title="添加子菜单" style="font-size: 16px;">&#61943;</a>&nbsp;&nbsp;
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="listview">
        <div class="media text-center">

            <ul class="pagination">

            </ul>
        </div>
    </div>

</section>
<br/><br/>
</section>

<!-- Javascript Libraries -->
<!-- jQuery -->


<!-- Bootstrap -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script>

<!-- UX -->
<script src="__PUBLIC__/js/scroll.min.js"></script> <!-- Custom Scrollbar -->

<!-- Other -->
<script src="__PUBLIC__/js/calendar.min.js"></script> <!-- Calendar -->
<script src="__PUBLIC__/js/feeds.min.js"></script> <!-- News Feeds -->


<!-- All JS functions -->
<script src="__PUBLIC__/js/functions.js"></script>
</body>
</html>

