<!-- Breadcrumb -->
<ol class="breadcrumb hidden-xs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
</ol>
<h4 class="page-title b-0">
    添加菜单
</h4>
<div class="listview list-container">
    <header class="listview-header media">
        <ul class="list-inline list-mass-actions pull-left">
            <li>
                <a data-toggle="modal" href="javascript:;" onclick="window.history.back();" title="返回" class="tooltips">
                    <i class="sa-list-back"></i>
                </a>
            </li>
        </ul>
    </header>
</div>