<!-- Breadcrumb -->
<ol class="breadcrumb hidden-xs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
</ol>
<h4 class="page-title b-0">
    添加菜单
</h4>
<div class="listview list-container">
    <header class="listview-header media">
        <ul class="list-inline list-mass-actions pull-left">
            <li>
                <a data-toggle="modal" href="{:url('admin/menu/index')}" title="返回" class="tooltips">
                    <i class="sa-list-back"></i>
                </a>
            </li>
        </ul>
    </header>
</div>
<section id="login">
    <!-- Register -->
    <form class="box animated tile active"  action="{:url('admin/Menu/menuEdit')}" method="POST">
        <h2 class="m-t-0 m-b-15"></h2>
        <h3 class="block-title">
            内链:网站内部链接，通过模块名-控制器-操作名来组合成一个链接,如admin.php/Admin/Menu/menu_list/p/1/a/2.html或admin.php?m=Admin&c=Menu&a=menu_list&p=1&a=2,模块名称为:Admin(如果为admin可以不写留空),控制器名：Menu,操作名称：menu_list,其他参数：p=1&a=2。
        </h3>
        <select name="parent_id" class="form-control input-sm m-b-20" style="width: 150px;;">
            <option value="0">顶级菜单</option>
            {volist name="menu" id="vo"}
                <option value="{$vo['menu_id']}" {eq name="$menu_id" value="$vo['menu_id']"}selected{/eq}>{$vo['menu_title']}</option>
            {/volist}
        </select>
        <input type="text" class="login-control m-b-10 form-control" name="sort" value="{:$info['sort']}" placeholder="序号">
        <input type="text" class="login-control m-b-10 form-control" name="menu_title" value="{:$info['menu_title']}" placeholder="菜单名称">
        <input type="text" class="login-control m-b-10 form-control" name="url_m" value="{:$info['url_m']}" placeholder="模块名称">
        <input type="text" class="login-control m-b-10 form-control" name="url_c" value="{:$info['url_c']}" placeholder="控制器名称">
        <input type="text" class="login-control m-b-10 form-control" name="url_f" value="{:$info['url_f']}" placeholder="方法名称">
        <input type="hidden" name="menu_id" value="{:$info['menu_id']}">
        <button class="btn btn-sm m-r-5">Save</button>
    </form>
</section>
<!-- Bootstrap -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script>

<!--  Form Related -->
<script src="__PUBLIC__/js/icheck.js"></script> <!-- Custom Checkbox + Radio -->

<!-- All JS functions -->
<script src="__PUBLIC__/js/functions.js"></script>
</body>
</html>