<!-- Breadcrumb -->

<ol class="breadcrumb hidden-xs">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
</ol>
<h4 class="page-title b-0">修改权限组</h4>
<div class="listview list-container">
    <header class="listview-header media">
        <ul class="list-inline list-mass-actions pull-left">
            <li>
                <a data-toggle="modal" href="{:url('admin/Auth/index')}" title="返回" class="tooltips">
                    <i class="sa-list-back"></i>
                </a>
            </li>
        </ul>
    </header>
</div>
<!-- Content -->
<section class="container">
    <!-- Checkbox/Radio -->
    <div class="block-area" id="checkboxradio">
        <form role="form" class="form-validation-9" action="{:url('admin/Auth/addAuthGroup')}" method="POST">
            <div class="row">
                <div class="col-lg-2">
                    <input type="text" name="auth_title" class="form-control m-b-10" placeholder="权限组名称">
                </div>
            </div>
            {volist name="menu" id="vo" key="key"}
            <div class="form-group m-b-15">
                <label class="checkbox-inline">
                                <span class="checkableBox">
                                    <input type="checkbox" class="list-parent-check" name="menu_id_{:$vo['menu_id']}" value="{:$vo['menu_id']}">
                                </span>
                    {:$vo['menu_title']}
                </label>
                {volist name="$vo['child_menu']" id="v"}
                <label class="checkbox-inline">
                                <span class="checkableBox">
                                    <input type="checkbox" class="list-check" name="menu_id_{:$v['menu_id']}" value="{:$v['menu_id']}">
                                </span>
                    {:$v['menu_title']}
                </label>
                {/volist}
            </div>
            {/volist}
            <input class="submit btn btn-sm" type="submit" value="save">
        </form>
        <br/><br/><br/>
    </div>
</section>
</section>

<!-- Javascript Libraries -->

<!-- Bootstrap -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script>

<!--  Form Related -->
<script src="__PUBLIC__/js/validation/validate.min.js"></script> <!-- jQuery Form Validation Library -->
<script src="__PUBLIC__/js/validation/validationEngine.min.js"></script> <!-- jQuery Form Validation Library - requirred with above js -->
<script src="__PUBLIC__/js/icheck.js"></script> <!-- Custom Checkbox + Radio -->

<!-- UX -->
<script src="__PUBLIC__/js/scroll.min.js"></script> <!-- Custom Scrollbar -->

<!-- Other -->
<script src="__PUBLIC__/js/calendar.min.js"></script> <!-- Calendar -->
<script src="__PUBLIC__/js/feeds.min.js"></script> <!-- News Feeds -->


<!-- All JS functions -->
<script src="__PUBLIC__/js/functions.js"></script>
</body>
</html>